<link rel="import" href="../../main/bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">

<dom-module id="school-form-design">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }
        </style>
<vaadin-form-layout style="width: 100%; height: 100%;">
 <vaadin-text-field id="tfName"></vaadin-text-field>
 <vaadin-text-field id="tfDistrict"></vaadin-text-field>
 <vaadin-combo-box id="cbCountry"></vaadin-combo-box>
 <vaadin-text-field id="tfCity"></vaadin-text-field>
 <vaadin-text-field id="tfSector"></vaadin-text-field>
 <vaadin-text-field id="tfZipCode"></vaadin-text-field>
 <vaadin-text-field id="tfAddress"></vaadin-text-field>
</vaadin-form-layout>
</template>

    <script>
        class SchoolFormDesign extends Polymer.Element {
            static get is() {
                return 'school-form-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(SchoolFormDesign.is, SchoolFormDesign);
    </script>
</dom-module>
