<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-item.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">

<dom-module id="permission-design">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }
        </style>
<vaadin-form-layout style="width: 100%; height: 100%;">
 <vaadin-form-item>
  <label slot="label">First Name</label>
  <vaadin-text-field class="full-width" value="Jane"></vaadin-text-field>
 </vaadin-form-item>
 <vaadin-form-item>
  <label slot="label">Last Name</label>
  <vaadin-text-field class="full-width" value="Doe"></vaadin-text-field>
 </vaadin-form-item>
 <vaadin-form-item>
  <label slot="label">Email</label>
  <vaadin-text-field class="full-width" value="jane.doe@example.com"></vaadin-text-field>
 </vaadin-form-item>
</vaadin-form-layout>
</template>

    <script>
        class PermissionDesign extends Polymer.Element {
            static get is() {
                return 'permission-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }

        customElements.define(PermissionDesign.is, PermissionDesign);
    </script>
</dom-module>
