<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-area.html">

<dom-module id="permission-group-form-design">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }
        </style>
<vaadin-form-layout style="width: 100%; height: 100%;">
 <vaadin-text-field class="full-width" value="" id="tfName"></vaadin-text-field>
 <vaadin-text-area label="" placeholder="" id="taDescription" class="full-width"></vaadin-text-area>
</vaadin-form-layout>
</template>

    <script>
        class PermissionGroupFormDesign extends Polymer.Element {
            static get is() {
                return 'permission-group-form-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(PermissionGroupFormDesign.is, PermissionGroupFormDesign);
    </script>
</dom-module>
