<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-area.html">

<dom-module id="permission-design">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }
        </style>
<vaadin-form-layout style="width: 100%; height: 100%;">
 <vaadin-text-field class="full-width" value="" id="tfCode" style="width:100px;" has-value></vaadin-text-field>
 <vaadin-text-field class="full-width" value="" id="tfName"></vaadin-text-field>
 <vaadin-text-area label="" placeholder="" id="taDescription" class="full-width" style="width: 100%;"></vaadin-text-area>
</vaadin-form-layout>
</template>

    <script>
        class PermissionDesign extends Polymer.Element {
            static get is() {
                return 'permission-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }

        customElements.define(PermissionDesign.is, PermissionDesign);
    </script>
</dom-module>
