<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-button/src/vaadin-button.html">

<dom-module id="form-action-bar-design">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }
        </style>
<vaadin-form-layout theme="margin">
 <vaadin-button theme="primary" id="btnSave"></vaadin-button>
 <vaadin-button id="btnCancel"></vaadin-button>
</vaadin-form-layout>
</template>

    <script>
        class FormActionBarDesign extends Polymer.Element {
            static get is() {
                return 'form-action-bar-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(FormActionBarDesign.is, FormActionBarDesign);
    </script>
</dom-module>
