<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="main-form-design">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }

            #header {
                border: 1px solid black;
            }
        </style>

</template>

    <script>
        class MainFormDesign extends Polymer.Element {
            static get is() {
                return 'main-form-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }

        customElements.define(MainFormDesign.is, MainFormDesign);
    </script>
</dom-module>
