<link rel="import" href="../../../bower_components/polymer/polymer.html">

<dom-module id="profile-design">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>

    </template>

    <script>
        class ProfileDesign extends Polymer.Element {
            static get is() {
                return 'profile-design';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }
        customElements.define(ProfileDesign.is, ProfileDesign);
    </script>
</dom-module>
