<link href="../../bower_components/polymer/polymer.html" rel="import">
<link rel="import" href="../../bower_components/vaadin-button/src/vaadin-button.html">
<link rel="import" href="../../bower_components/vaadin-ordered-layout/src/vaadin-horizontal-layout.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">

<dom-module id="tab-bar-search-designer">
    <template>
<style include="shared-styles">
            :host {
                display: block;
            }
        </style>
<vaadin-horizontal-layout style="width: 100%;" theme="spacing">
 <vaadin-text-field placeholder="" id="tfSearch" class="full-width" style="width: 100%;">
  <iron-icon icon="lumo:search" slot="prefix"></iron-icon>
 </vaadin-text-field>
 <vaadin-button id="btnNew" theme="primary"></vaadin-button>
</vaadin-horizontal-layout>
</template>

    <script>
        class TabBarSearchDesigner extends Polymer.Element {
            static get is() {
                return 'tab-bar-search-designer';
            }

            static get properties() {
                return {
                    // Declare your properties here.
                };
            }
        }

        customElements.define(TabBarSearchDesigner.is, TabBarSearchDesigner);
    </script>
</dom-module>
